{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'aduna/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'aduna/bootstrap/css/bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'aduna/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'aduna/style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'aduna/bootstrap-multiselect/css/bootstrap-multiselect.css' %}">
        {% block additional_head %}{% endblock %}
        <title>Áduna</title>
    </head>
    <body {% block body_tags %}{% endblock %}>
        {% block header %}
        <header>
            <nav class="searchbar navbar navbar-expand-md navbar-light bg-light fixed-top shadow-none">
                <div class="container">
                    {% block goback %}
                    {% endblock %}
                    
                    {% block search_page_actions %}
                    <a class="navbar-brand" href="{% url 'aduna:index' %}">Áduna</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <form action="{% url 'aduna:search' %}" method="GET" class="form-inline mt-2 mt-md-0">
                            <input id="query" name="consulta" class="form-control mr-sm-2" type="text"
                                placeholder="Sua consulta aqui..." aria-label="Consulta" value="{{ query }}"
                                oninvalid="setCustomValidity('A consulta requer pelo menos 2 caracteres não vazios.')"
                                oninput="setCustomValidity('')" required pattern="\s*(\S\s*){2,}" autofocus>
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
                            <input type="hidden" name="sid" id="sid" value="{{ sid }}">
                        </form>
                    </div>
                    {% endblock %}

                    <ul class="navbar-nav ml-auto">
                        <li id="notification" class="nav-item mr-2">
                            <div class="dropdown btn-group text-center">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownNotification" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="notification">
                                        <i class="fas fa-bell text-muted"></i>
                                        <div id="notification-badge" class="badge d-none"></div>
                                    </div>
                                </a>
                                <div class="dropdown-menu p-3" aria-labelledby="dropdownNotification"
                                    style="width: auto;white-space: nowrap; max-height: 400px; overflow-y: auto; margin-left:-250px;">
                                    <ul class="small p-0" style="list-style: none;" id="notification-list">
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                {{ user_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="/aduna/recomendacoes"><i class="fas fa-lightbulb"></i>
                                    Recomendações</a>
                                <a class="dropdown-item" href="/aduna/bookmark"><i class="fas fa-star"></i> Favoritos</a>
                                <a class="dropdown-item" href="/aduna/logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% endblock %}

        {% block content %}
        {% endblock %}

        <!-- seção com modais inseridas dinamicamente, como para criação de bookmarks dinamicamente para cada página -->
        <div class="modals"></div>

        {% block script_before %}{% endblock %}
        <script src="{% static 'aduna/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'aduna/popper.min.js' %}"></script>
        <script src="{% static 'aduna/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'aduna/script.js' %}"></script>
        <script src="{% static 'aduna/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'aduna/bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
        {% block script_after %}{% endblock %}
    </body>
</html>