{% extends "./_base.html" %}
{% load aduna_extras %}
{% load static %}
{% block body_tags %}class="view-as-page"{% endblock %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top  p-3">
        <div class="container">
            <a href="javascript:history.back()" class="btn btn-danger my-2 my-sm-0" type="button"><i
                    class="fas fa-arrow-alt-circle-left"></i> Voltar</a>
            <a class="navbar-brand" href="{% url 'aduna:index' %}" style="margin-left: 50px">Áduna</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form action="" method="GET" class="form-inline mt-2 mt-md-0">
                    <input id="query" name="query" class="form-control mr-sm-2" type="text"
                        placeholder="Pesquisar..." aria-label="Consulta" value="{{ query }}"
                        oninvalid="setCustomValidity('Insira uma consulta válida.')" oninput="setCustomValidity('')"
                        required>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
            </div>
            <ul class="navbar-nav mr-auto">
                <li id="notification" class="nav-item dropdown mr-2">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownNotification" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="notification">
                            <i class="fas fa-bell text-muted"></i>
                            <div id="notification-badge" class="badge"></div>
                        </div>
                    </a>
                    <div class="dropdown-menu p-3" aria-labelledby="dropdownNotification" style="width: 410px;">
                        <ul class="small p-0" style="list-style: none;">
                            <li class="font-weight-bold">
                                <div class="rounded border bg-light p-2">
                                    <p class="p-0 m-0">Descobrimos novos documentos que podem te interessar! <a
                                            href="recomendacoes/documentos">Visualizar</a>.</p>
                                </div>
                                <div class="d-flex justify-content-end pr-1 mt-1">
                                    <span class="small">08/12/2021 às 12:37</span>
                                </div>
                            </li>
                            <li class="mt-2">
                                <div class="rounded border bg-light p-2">
                                    <p class="p-0 m-0">Descobrimos novos documentos que podem te interessar! <a
                                            href="recomendacoes/documentos">Visualizar</a>.</p>
                                </div>
                                <div class="d-flex justify-content-end pr-1 mt-1">
                                    <span class="small">03/12/2021 às 08:15</span>
                                </div>
                            </li>
                            <li class="mt-2">
                                <div class="rounded border bg-light p-2">
                                    <p class="p-0 m-0">Descobrimos novos documentos que podem te interessar! <a
                                            href="recomendacoes/documentos">Visualizar</a>.</p>
                                </div>
                                <div class="d-flex justify-content-end pr-1 mt-1">
                                    <span class="small">29/11/2021 às 19:55</span>
                                </div>
                            </li>
                        </ul>
                        <!-- <a class="dropdown-item" href="/aduna/logout"><i class="fas fa-sign-out-alt"></i> Sair</a> -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                        {{ user_name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="/aduna/bookmark"><i class="fas fa-star"></i> Favoritos</a>
                        <a class="dropdown-item" href="/aduna/logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container-fluid" style="margin-top: 90px;">
    <div class="row">
        <div class="col-3" id="bookmark-folder">
        </div>
        <div class="col-6 p-0 mt-2">
            <ul class="rounded border m-0 p-3" style="list-style: none;" id="folder-items">
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="removeFolderModal" tabindex="-1" aria-labelledby="removeFolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="removeFolderModalLabel">Tem certeza que deseja remover tudo que está nessa pasta?</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
            </div>
            <div class="modal-body d-flex justify-content-between">
                <div class="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="">
                    <button type="button" class="btn btn-danger" onclick="remove_folder()">Excluir
                        todos</button>
                </div>
            </div>
            <!-- <div class="modal-footer d-flex justify-content-between">
                </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="moveBookmarkModal" tabindex="-1" aria-labelledby="moveBookmarkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="moveBookmarkModalLabel">Mover favorito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <label for="">Escolha a pasta para mover o favorito</label>
                <div class="bg-light rounded border px-3 pt-1 pb-3 font-weight-bold" id="bookmark-move-folder"
                    style="min-height: 180px;">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="">
                </div>
                <div class="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"
                        onclick="services.move_bookmark()">Mover</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="moveFolderModal" tabindex="-1" aria-labelledby="moveFolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="moveFolderModalLabel">Mover pasta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <label for="">Escolha a pasta de destino</label>
                <div class="bg-light rounded border px-3 pt-1 pb-3 font-weight-bold" id="move-folder"
                    style="min-height: 180px;">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="">
                </div>
                <div class="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="services.move_folder()">Mover</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block script_before %}
<script>
    SERVER_ADDRESS = window.location.origin;
    SERVICES_URL = SERVER_ADDRESS + '/services/';
    AUTH_TOKEN = '{{ auth_token }}';
    USER_ID = '{{ user_id }}';
</script>
{% endblock %}

{% block script_after %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

    <script src="{% static 'aduna/js/bookmark/services.js' %}"></script>
    <script src="{% static 'aduna/js/bookmark/folder.js' %}"></script>

<script>
    $('body').removeClass('view-as-page')
</script>
{% endblock %}