{% extends "./_base.html" %}
{% load aduna_extras %}
{% load static %}
{% block body_tags %}class="view-as-page"{% endblock %}
{% block content %}
    <div class="container">
        <nav id="doc-navbar">
            <ul>
                {% for item in navigation %}
                <li>
                    <a id="nav_bloco_{{ item.num_bloco }}" href="#bloco_{{ item.num_bloco }}">{{ item.entidade_bloco }}</a>
                    <ul>
                    {% for child in item.childs %}
                      <li>
                        {% if child.num_segmento_global == document.num_segmento_ativo or child.matched == 1 %}
                        <mark class="nav{% if child.num_segmento_global == document.num_segmento_ativo %} nav-active{% endif %}">
                        {% endif %}
                        <a id="nav_seg_{{ child.num_segmento_global }}" href="#seg_{{ child.num_segmento_global }}">{{ child.titulo }}</a>
                        {% if child.num_segmento_global == document.num_segmento_ativo or child.matched == 1 %}
                        </mark>
                        {% endif %}
                      </li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}

            </ul>
            <div id="doc-navbar-toggle"><i class="fas fa-bars"></i></div>
        </nav>
        <div class="page nav-active">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="m-0"><center>{{ document.titulo }}</center></h1>
                <div class="bookmark">
                </div>
            </div>
            <h2><center>{{ document.data }}</center></h2>
            <br><br><br>
            {% for segmento in document.segmentos %}
                {% if segmento.num_segmento_bloco == 1 %}
                <div id="bloco_{{ segmento.num_bloco}}">
                    <h4 style="color: #6495ed; text-align: center;">{{ segmento.entidade_bloco }}</h4>
                    <br>
                {% endif %}
                    <div id="seg_{{ segmento.num_segmento_global}}">
                        {% if segmento.titulo != '' %}
                        <h5>{{ segmento.titulo}}</h5>
                        {% endif %}
                        {% if segmento.subtitulo != '' %}
                        <h6>{{ segmento.subtitulo }}</h6>
                        {% endif %}
                        <p style="text-align: justify;">
                            {% if segmento.num_segmento_global == document.num_segmento_ativo %}
                            <mark class="active">
                            {% endif %}
                            {{ segmento.conteudo }}
                            {% if segmento.num_segmento_global == document.num_segmento_ativo %}
                            </mark>
                            {% endif %}
                        </p>
                        <br><br>
                    </div>
                {% if segmento.num_segmento_bloco == 1 %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script_before %}
    <script>
        SERVER_ADDRESS = window.location.origin;
        SERVICES_URL = SERVER_ADDRESS + '/services/';
        AUTH_TOKEN = '{{ auth_token }}';
        QID = '{{ qid }}';
        DOC_TYPE = '{{ doc_type }}';
        DOC_ID = '{{ doc_id }}';
        DOC_TITLE = '{{ document.titulo }}'
        USER_ID = '{{ user_id }}'
        PAGE = '{{ page }}';
        QUERY = '{{ query }}';
    </script>
{% endblock %}
{% block additional_head %}
    <style>
        
    </style>
{% endblock %}
{% block script_after %}
    <script src="{% static 'aduna/js/bookmark/folder.js' %}"></script>
    <script src="{% static 'aduna/js/bookmark/services.js' %}"></script>
    <script src="{% static 'aduna/js/bookmark/bookmark.js' %}"></script>
    <script src="{% static 'aduna/js/notification/notification.js' %}"></script>

    <script>
        num_segmento_ativo = {{ document.num_segmento_ativo }};
        function scrollToSegment(id, hightlight=false){
            $([document.documentElement, document.body]).animate({
                scrollTop: $(id).offset().top - ($(window).height()/2)
            }, 1000, function(){
                if(hightlight){
                    $(id).addClass('highlight-text'); 
                    setTimeout(function(){
                        $(id).removeClass('highlight-text')
                    }, 1001)
                }
            });
            
        }

        function scrollToNavItem(id){
            $("#doc-navbar > ul").animate({
                scrollTop: $(id).position().top - ($(this).height()/2)
            }, 1000);
        }

        $(function(){
            // rola a página até o segmento destacado
            scrollToSegment("#seg_"+num_segmento_ativo);

            //rola tbm o índice
            scrollToNavItem("#nav_seg_"+num_segmento_ativo);

            //quando clica em algum item do índice rola até o segmento
            $("#doc-navbar a").click(function(event){
                id = $(this).attr('href');
                scrollToSegment(id, true);
            });

            //exibe-esconde o índice de navegação
            $('#doc-navbar-toggle').click(function(event){
                $('#doc-navbar').toggleClass('nav-active');
                $('.page').toggleClass('nav-active');
                event.preventDefault();
                return false;
            });
        });
    </script>
{% endblock %}