{% extends "./_base.html" %}
{% load aduna_extras %}
{% load static %}
{% block body_tags %}class="view-as-page"{% endblock %}
{% block content %}

<div class="container" style="margin-top: 90px;">
    <div class="d-flex justify-content-between align-items-center" id="rec-header">
        <h1 class="h5 m-0">Documentos que podem ser de seu interesse</h1>
    </div>


    <ul class="row px-3" style="list-style: none;" id="recommendation-list">
        <!-- As recomendações serão inseridas automaticamente aqui -->
    </ul>
</div>

{% endblock %}
{% block script_before %}
<script>

    AUTH_TOKEN = '{{ auth_token }}';
    USER_ID = '{{ user_id }}';
    NOTIFICATION_ID = '{{ notification_id }}';

</script>
{% endblock %}

{% block script_after %}
<script src="{% static 'aduna/js/notification/notification.js' %}"></script>
<script src="{% static 'aduna/js/recommendation/recommendation.js' %}"></script>

{% endblock %}
