{% extends "./_base.html" %}
{% load aduna_extras %}
{% load static %}
{% block body_tags %}class="view-as-page"{% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top: 90px;">
    <div class="row">
        <div class="col-3" id="bookmark-folder">
        </div>
        <div class="col-6 p-0 mt-2">
            <ul class="rounded border m-0 p-3" style="list-style: none;" id="folder-items">
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="removeFolderModal" tabindex="-1" aria-labelledby="removeFolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="removeFolderModalLabel">Tem certeza que deseja remover tudo que está nessa pasta?</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
            </div>
            <div class="modal-body d-flex justify-content-between">
                <div class="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="">
                    <button type="button" class="btn btn-danger" onclick="remove_folder()">Excluir
                        todos</button>
                </div>
            </div>
            <!-- <div class="modal-footer d-flex justify-content-between">
                </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="moveBookmarkModal" tabindex="-1" aria-labelledby="moveBookmarkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="moveBookmarkModalLabel">Mover favorito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <label for="">Escolha a pasta para mover o favorito</label>
                <div class="bg-light rounded border px-3 pt-1 pb-3 font-weight-bold" id="bookmark-move-folder"
                    style="min-height: 180px;">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="">
                </div>
                <div class="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"
                        onclick="services.move_bookmark()">Mover</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="moveFolderModal" tabindex="-1" aria-labelledby="moveFolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="moveFolderModalLabel">Mover pasta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <label for="">Escolha a pasta de destino</label>
                <div class="bg-light rounded border px-3 pt-1 pb-3 font-weight-bold" id="move-folder"
                    style="min-height: 180px;">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="">
                </div>
                <div class="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="services.move_folder()">Mover</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block script_before %}
<script>
    SERVER_ADDRESS = window.location.origin;
    API_CLIENT_NAME = "{{ api_client_name }}";
    SERVICES_URL = "{{ services_url }}";
    SESSION_ID = "{{ session_id }}";
    // AUTH_TOKEN = '{{ auth_token }}';
    USER_ID = '{{ user_id }}';
</script>
{% endblock %}

{% block script_after %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

    <script src="{% static 'aduna/js/bookmark/services.js' %}"></script>
    <script src="{% static 'aduna/js/bookmark/folder.js' %}"></script>
    <script src="{% static 'aduna/js/notification/notification.js' %}"></script>

<script>
    $('body').removeClass('view-as-page')
</script>
{% endblock %}